*{
    margin: 0;
    padding: 0;
}
.cards{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}
.card-body{
    text-align: left;
    flex: 1;
    margin-bottom: 10px;
}
.card-body h2{
    font-size: 25px;
}
.card-body p{
    font-size: 13px;
}
.bday-btn{
    background-color: #e6e6e6;
    height: 40px;
    width: 220px;
    border-radius: 5px;
    border-style: none;
    color: lightslategray;
    font-weight: 500;
}